.answers {
    border: '1px solid white';
    margin: 3px;
}

.answers > span {
    background-color: 'blue';
    font-weight: 'bold';
    margin: 5px;
}

.answers > label {
    background-color: 'black';
    font-weight: 'normal'; 
    margin: 5px;
}

.answers > label:hover {
    cursor: pointer;
}

#answer-test {
    border: '1px solid white';
    margin: 3px;
}